<div class="layout bg-slate-100 flex flex-col min-h-screen min-w-full"> <!-- Flex y min-h-screen para mantener el footer al final -->
    <div class=" flex-grow flex justify-center items-center min-w-full"> <!-- Flex para centrar el contenido -->
      <!-- <router-outlet></router-outlet> Aquí se cargan las páginas -->
      <app-list-category class="mb-4"></app-list-category> <!-- Agrega un margen inferior -->
    </div>
  
    <app-footer></app-footer> <!-- El footer se mantiene en la parte inferior -->
  </div>
  