<footer class="bg-white  shadow-md py-4 flex flex-col sm:flex-row justify-center items-center px-4 w-full">
    <div class="flex-1 text-center sm:text-left">
        <p class="text-sm text-slate-600 dark:text-gray-400">
            © 2024, Made with 💜 by Emmanuel Tabares Ortiz
        </p>
    </div>
    <div class="flex-1 text-slate-600  text-center mt-2 sm:mt-0 sm:block">
        <div class="flex justify-center sm:justify-end space-x-10 ">
            <a href="https://www.linkedin.com/in/emmatabareso/" target="_blank" rel="noopener noreferrer" class="hover:text-purple-950">About me</a>
            <a href="https://hub.docker.com/u/stemmanuel" target="_blank" rel="noopener noreferrer" class="hover:text-purple-950">Docker hub</a>
            <a href="https://github.com/ST-Emmanuel00" target="_blank" rel="noopener noreferrer" class="hover:text-purple-950">Github</a>
        </div>
    </div>
</footer>
