<div class=" p-4 bg-white rounded-lg shadow-md">
  <h2 class="text-lg font-semibold mb-4">Categories</h2>
  <!-- <div *ngFor="let category of categories" class="mb-6">
    <h3 class="font-bold text-md">{{ category.name }}</h3>
    <ul class="ml-4">
      <li *ngFor="let subCategory of category.subCategories">
        <span class="font-semibold">{{ subCategory.name }}</span>
        <ul class="ml-4">
          <li *ngFor="let topic of subCategory.topics">{{ topic }}</li>
        </ul>
      </li>
    </ul>
  </div> -->
</div>
